@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Sen&display=swap");
.navbar__logo {
  width: 150px;
  height: 30px; }
  .navbar__logo img {
    width: 100%;
    height: 100%; }

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  list-style: none; }
  .navbar__links * {
    text-decoration: none; }

.navbar__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  color: #2f2105; }

.navbar__link:hover {
  transform: scale(1.2);
  transition: 0.5s; }

.navbar__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px; }

.navbar__look {
  position: relative; }
  .navbar__look input {
    height: 40px;
    width: 222px;
    border-radius: 35px;
    padding: 11px 52px;
    border: none;
    font-size: 1.8rem; }
  .navbar__look img {
    position: absolute;
    top: 7px;
    left: 10px; }

.navbar__cart {
  position: relative;
  cursor: pointer; }
  .navbar__cart.active {
    animation: rotateShop 0.5s infinite alternate; }

@keyframes rotateShop {
  from {
    transform: rotate(0) scale(1); }
  to {
    transform: rotate(15deg) scale(1.2); } }

.giohang--header__btnclose {
  border: none;
  font-size: 3rem;
  background-color: #e7e2dd; }

.cart__icon {
  font-size: 3rem; }
  .cart__icon i:hover {
    transform: scale(1.2);
    transition: 0.5s; }

.cart__items {
  position: absolute;
  top: -9px;
  right: -8px;
  font-size: 1.6rem;
  color: #fff;
  padding: 0 5px;
  background-color: #f09d51;
  border-radius: 30%; }

.container {
  position: relative; }
  .container__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.5px);
    z-index: 3;
    background: rgba(240, 157, 81, 0.5); }
  .container__modal {
    top: 10rem;
    left: 0;
    position: absolute; }

.hidden-backdrop {
  display: none; }

.hidden-modal {
  display: none; }

.modal__content {
  padding: 1rem 2rem;
  position: fixed;
  max-width: 55rem;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: aquamarine;
  z-index: 20;
  font-size: 2rem; }

.modal__close {
  border: none;
  font-size: 4rem;
  background: none;
  color: red; }

.popular__btn-showmore {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  border-radius: 33px;
  background-color: #2f2105;
  color: #ffcb7c;
  width: 170px;
  filter: drop-shadow(6px 5px 2px rgba(0, 0, 0, 0.25));
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px;
  cursor: pointer;
  margin: 0 auto; }
  .popular__btn-showmore:hover {
    transform: scale(1.05);
    transition: 0.5s; }

.popular__title {
  max-width: 170rem;
  margin: 0 auto; }

.popular__section--title {
  max-width: 170rem;
  margin: 0 auto; }

.popular__background {
  height: 350px;
  width: 100%;
  border-radius: 64px;
  background-color: #f9d9aa; }

.popular__card-list, .popular__card-list2 {
  display: grid;
  padding: 20px;
  max-width: 170rem;
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  flex-wrap: wrap;
  max-height: 970px;
  overflow: hidden;
  transition: 1s;
  margin: 4.6rem auto; }

.popular__card {
  background-color: #ffff;
  padding: 25px;
  border-radius: 8px;
  filter: drop-shadow(10px 10px 9px rgba(0, 0, 0, 0.25));
  cursor: pointer; }
  .popular__card--subline {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px; }

.popular__card-best {
  background-color: #ffff;
  padding: 25px;
  border-radius: 3px;
  filter: drop-shadow(10px 10px 9px rgba(0, 0, 0, 0.25)); }
  .popular__card-best--subline {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px; }

.popular__card:first-child {
  transition-delay: 200ms; }

.popular__card:nth-child(2) {
  transition-delay: 400ms; }

.popular__card:nth-child(3) {
  transition-delay: 600ms; }

.popular__card:hover {
  transform: scale(1.02);
  transition: 0.5s; }

.popular__card-best:hover {
  transform: scale(1.02);
  transition: 1s; }

.popular__rating {
  position: absolute;
  top: 35px;
  left: 35px; }

.popular__card--img {
  margin-bottom: 19px; }
  .popular__card--img img {
    border-radius: 9px;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.popular__card--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0 10px; }

.popular__card--name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 36px;
  margin-bottom: 16px; }

.popular__card--cost {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 36px;
  margin-bottom: 16px; }
  .popular__card--cost span {
    font-size: 1.8rem; }

.popular__card--decribe {
  padding: 0 10px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  position: relative; }

.popular__card--btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: 2px solid #ff912b;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; }

.popular__card--buy1 {
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-size: 2rem;
  padding: 0rem 2rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  background-color: #e67e22;
  color: white; }

.popular__card--buy1:hover {
  background-color: #cf711f; }

.popular__card--buy2 {
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-size: 2rem;
  padding: 0rem 2rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  background-color: #e67e22;
  color: white; }

.popular__card--buy2:hover {
  background-color: #cf711f; }

.show1 {
  max-height: 9000px; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  font: inherit; }

body {
  line-height: 1.5;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  font-family: "Rubik" ,sans-serif;
  position: relative; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  outline: none; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

a {
  text-decoration: none; }

.homepage {
  width: 100%;
  position: relative; }
  .homepage__container {
    padding: 8rem 0 9.6rem 0;
    background-color: #f6ebda; }
  .homepage__navbar {
    width: 100%;
    height: 7.6rem;
    z-index: 2;
    position: fixed;
    background-image: url("/assests/img/bg-image-about.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px; }
  .homepage__giohang {
    width: 25vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background: #e7e2dd;
    transition: all 0.4s linear;
    top: 0;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 6;
    padding: 10px 20px 10px 20px; }
    .homepage__giohang--header {
      margin-bottom: 3rem; }
    .homepage__giohang--name-cart {
      font-size: 4rem;
      text-align: center; }
    .homepage__giohang--sanpham {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 24px;
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 1.8rem; }
    .homepage__giohang--image {
      width: 100px;
      height: 75px; }
      .homepage__giohang--image img {
        width: 100%;
        height: 100%; }
    .homepage__giohang--middle {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .homepage__giohang--x {
      cursor: pointer; }
      .homepage__giohang--x:hover {
        color: orange; }
    .homepage__giohang--end {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center; }
  .homepage__hero {
    padding: 8rem 0 4rem 0;
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    position: relative; }
  .homepage__popular {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 60px;
    margin-top: 9rem; }
  .homepage__testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
    margin-bottom: 9rem; }
  .homepage__footer {
    max-width: 140rem;
    height: 50rem;
    margin-bottom: 9.6rem;
    margin: 0 auto;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    background-size: cover;
    background-image: url("/assests/img/unsplash_ftA71vetxuo.png"); }
  .homepage__howto {
    margin-bottom: 175px;
    margin-top: 12rem; }
  .homepage__about {
    width: 100%;
    height: 484px;
    padding: 84px 290px;
    background-image: url("/assests/img/bg-image-about.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .homepage__menu {
    padding: 120px 146px; }
    .homepage__menu__title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 60px; }

.hero__content--headline {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #333;
  font-weight: 700;
  font-family: "Rubik" ,sans-serif;
  text-transform: uppercase; }
  .hero__content--headline span {
    color: #ff912b; }

.hero__content--title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 72px; }

.hero__content-btn {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 50px;
  font-size: 1.8rem; }
  .hero__content-btn--order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 10px;
    border-radius: 33px;
    background-color: #2f2105;
    color: #ffcb7c;
    width: 200px;
    filter: drop-shadow(6px 5px 2px rgba(0, 0, 0, 0.25));
    cursor: pointer; }
  .hero__content-btn--frame {
    color: #ff912b;
    cursor: pointer; }
  .hero__content-btn--order:hover {
    transform: scale(1.05);
    transition: 0.5s; }

.hero__img-hero {
  z-index: 0;
  animation: scale-hidden 6s infinite alternate; }
  .hero__img-hero img {
    width: 100%; }

.testimonial__author {
  position: relative; }

.testimonial__bg {
  width: 945px;
  height: 484px;
  padding: 162px 363px 252px 131px;
  background-image: url("./img/bg-author.png");
  border-radius: 0 20px 20px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .testimonial__bg--headline {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px; }
  .testimonial__bg--title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px; }

.testimonial__author-list {
  width: 871px;
  height: 484px;
  position: absolute;
  right: 0;
  padding: 102px 23px 102px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px; }

.testimonial__author--info {
  position: absolute;
  background-color: #ffcb7c;
  top: 165px;
  left: 30px;
  width: 226.5px;
  height: 86.23px;
  border-radius: 2px;
  padding: 8px 12px; }

.testimonial__author--name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 0px; }

.testimonial__author--title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0px; }

.howto__title {
  max-width: 170rem;
  margin: 0 auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 108px; }

.howto__frames {
  padding: 16px 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 170rem;
  margin: 0 auto;
  justify-items: center; }

.howto__frame--line {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 36px;
  margin-bottom: 20px; }

.howto__frame--sub {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 32px; }

.about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 100px; }
  .about__bg-image {
    margin-top: -200px;
    width: 50%; }
  .about__content {
    width: 50%; }
    .about__content--headline {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 5.2rem;
      line-height: 72px;
      margin-bottom: 24px; }
    .about__content--line {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 36px;
      margin-bottom: 16px;
      letter-spacing: 0.04em; }
    .about__content--subline {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 32px;
      letter-spacing: 0.04em; }
    .about__content--btn-get {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 32px;
      gap: 10px;
      border-radius: 33px;
      background-color: #2f2105;
      color: #ffcb7c;
      width: 200px;
      filter: drop-shadow(6px 5px 2px rgba(0, 0, 0, 0.25));
      cursor: pointer; }
    .about__content--btn-get:hover {
      transform: scale(1.05);
      transition: 0.5s; }

.footer__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.footer__sub {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 60px;
  color: #f6ebda; }

.footer__order {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-left: 40px; }
  .footer__order input {
    height: 54px;
    width: 486px;
    padding: 20px;
    border-radius: 42px;
    font-size: 1.8rem; }
  .footer__order--btn {
    position: absolute;
    right: 5px;
    background-color: #2f2105;
    color: #f6ebda;
    padding: 10px 20px;
    border-radius: 42px;
    font-size: 1.6rem;
    cursor: pointer; }
    .footer__order--btn:hover {
      transform: scale(1.02);
      transition: 0.5s; }

.footer__endfoot {
  background-size: cover;
  padding: 48px 80px 56px 80px;
  border-radius: 50px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  color: #2f2105; }

.footer__address {
  color: #2f2105; }

.footer__mxh {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #2f2105;
  cursor: pointer; }
  .footer__mxh img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.disable {
  display: none;
  transform: translateX(0); }

.active {
  color: #ff912b; }

.hidden {
  opacity: 0;
  transition: all 1.5s;
  filter: blur(1px);
  transform: translateY(10%); }

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0); }

@keyframes scale-hidden {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.05); } }

.item:hover {
  transform: scale(1.2);
  transition: 0.5s; }

.fas {
  cursor: pointer; }

.item-amount {
  font-size: 1.8rem; }
