@mixin displayFlexCenter($align: center, $justi: center, $gap: 0) {
    display: flex;
    justify-content: $justi;
    align-items: $align;
    gap: $gap;
}
@mixin displayGridItemInCard($gapSpace,){
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: $gapSpace;
}
@mixin displayGrid($column:0, $gap: 0){
    display: grid;
    grid-template-columns: repeat($column,1fr);
    gap: $gap;
    
}
// Text
@mixin heading1($mb: 24px) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 72px;
    margin-bottom: $mb;
}
@mixin heading2($mb: 60px) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: $mb;
}
@mixin heading3($mb: 20px) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 36px;
    margin-bottom: $mb;
}

@mixin cap4($mb: 24px) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: $mb;
}
@mixin cap3($mb: 0px) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: $mb;
}

@mixin cap2($mb: 24px) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    // margin-bottom: $mb;
}

@mixin cap1($mb: 32px) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: $mb;
}

// frame
@mixin frame3($mb: 24px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 2px solid #ff912b;
    // margin-bottom: $mb;
    border-radius: 8px;
}
