@import "./button.scss";

.popular {
    &__btn-showmore {
        margin-top: 20px;
        @include button($width: 170px);
        @include cap1;
        cursor: pointer;
        margin: 0 auto;
        &:hover {
            @include buttobHover;
        }
    }
    &__title {
       
        max-width:170rem ;
        margin: 0 auto;
    }
    &__section--title {
       
        max-width:170rem ;
        margin: 0 auto;
    }
    &__background {
        height: 350px;
        width: 100%;
        border-radius: 64px;
        background-color: $chocolateBG;
    }
    &__card-list,
    &__card-list2 {
        display: grid;
        padding: 20px;
        max-width: 170rem;
        border-radius: 24px;
        
        @include displayGrid(3,10rem);
        flex-wrap: wrap;
        max-height: 970px;
        overflow: hidden;
        transition: 1s;
        margin: 4.6rem auto;
    }
    &__card {
        background-color: $light;
        // width: 29%;
        padding: 25px;
        border-radius: 8px;
        filter: drop-shadow(10px 10px 9px rgba(0, 0, 0, 0.25));
        &--subline {
            @include cap3;
        }
        cursor: pointer;
    }
    &__card-best {
        background-color: $light;
        // width: 29%;
        padding: 25px;
        border-radius: 3px;
        filter: drop-shadow(10px 10px 9px rgba(0, 0, 0, 0.25));
        &--subline {
            @include cap3;
        }
    }

    &__card:first-child {
        transition-delay: 200ms;
    }
    &__card:nth-child(2) {
        transition-delay: 400ms;
    }
    &__card:nth-child(3) {
        transition-delay: 600ms;
    }

    &__card:hover {
        transform: scale(1.02);
        transition: 0.5s;
    }
    &__card-best:hover {
        transform: scale(1.02);
        transition: 1s;
    }
    &__rating {
        position: absolute;
        top: 35px;
        left: 35px;
    }
    &__card--img {
        margin-bottom: 19px;
        img {
            border-radius: 9px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__card--info {
        @include displayFlexCenter(center, space-between);
        padding: 0 10px;
    }
    &__card--name {
        @include heading3(16px);
    }
    &__card--cost {
        @include heading3(16px);
        span{
            font-size: 1.8rem;
        }
    }
    &__card--decribe {
        padding: 0 10px;
        flex-grow: 1;
        @include displayFlexCenter(center, space-between, 0);
        position: relative;
    }
    &__card--btn {
        @include frame3(28px);
        @include cap2;
    }

    &__card--buy1{
       
        display: block;
        cursor: pointer;
        font-weight: 600;
        font-size: 2rem;
        padding: 0rem 2rem;
        border-radius: 5px;
        transition: background-color 0.3s;
        border: none;
        cursor: pointer;
        background-color: #e67e22;
        color: white;  
    }
    &__card--buy1:hover{
        background-color: #cf711f;
    }
    &__card--buy2{
       
        display: block;
        cursor: pointer;
        font-weight: 600;
        font-size: 2rem;
        padding: 0rem 2rem;
        border-radius: 5px;
        transition: background-color 0.3s;
        border: none;
        cursor: pointer;
        background-color: #e67e22;
        color: white;  
    }
    &__card--buy2:hover{
        background-color: #cf711f;
    }
    
}

.show1 {
    max-height: 9000px;
}
