.navbar {
    &__logo {
        width: 150px;
        height: 30px;

        img {
            width: 100%;
            height: 100%;
        }
    }
    &__links {
        * {
            text-decoration: none;
        }
        @include displayFlexCenter(center, space-between, 32px);
        list-style: none;
         
    }

    &__link {
        @include cap1();
        color: $brown;
    }
    &__link:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }
    
    &__buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }
    &__look {
        position: relative;
        input {
            height: 40px;
            width: 222px;
            border-radius: 35px;
            padding: 11px 52px;
            border: none;
            font-size: 1.8rem;
        }
        img {
            position: absolute;
            top: 7px;
            left: 10px;
        }
    }
    
   
     &__cart {
        // width: 200px;
        position: relative;
        cursor: pointer;
        &.active {
            animation: rotateShop 0.5s infinite alternate;
        }
    
        @keyframes rotateShop {
            from {
                transform: rotate(0) scale(1);
            }
    
            to {
                transform: rotate(15deg) scale(1.2);
            }
        }
        
    }
      
   
}


.giohang--header{
    &__btnclose{
        border: none;
        font-size: 3rem;
        background-color: rgb(231, 226, 221);
        
    }
}
.cart{
    &__icon{
        font-size: 3rem;
        i:hover{
            transform: scale(1.2);
            transition: 0.5s;
        }
        
    }
    &__items{
        position: absolute;
        top: -9px;
        right: -8px;
        font-size: 1.6rem;
        color: #fff;
        padding: 0 5px;
        background-color: #f09d51;
        border-radius: 30%;
    }
    
    
}